---
layout: layouts/base.njk
---

<header class="front-page-title">
	<h1>A project to build exascale-capable <br> algorithms for OpenFOAM.</h1>
</header>

{# Goals Section #}
<section class="section">
<h1 class="section-header">Goals</h1>
<div class="section-content ">
	<p>The goal of the project is to create a robust and flexible interface allowing the open-source software library Ginkgo to be used for numerical operations in OpenFOAM, and to enable these simulations to be exascale-capable.</p>
	<a href="goals" class="arrow-link">learn more</a>
</div>
</section>

{# Accomplishments Section #}
<section class="section">
<h1 class="section-header">Accomplishments</h1>
<div class="section-content">
	<!-- The dots/circles -->
	<div style="text-align:center">
	<span class="dot" onclick="currentSlide(1)"></span>
	<span class="dot" onclick="currentSlide(2)"></span>
	<span class="dot" onclick="currentSlide(3)"></span>
	</div>
	<br>
	<div class="slideshow-container">

	<!-- Full-width images with number and caption text -->
	<div class="mySlides fade">
	<figure>
		<img loading="lazy" src="/img/fig_speeup_paper_OGL.png" alt="Linear pressure solver performance." style="width:100%">
		<!-- <figcaption>Linear pressure solver persormanceWindsor body micro benchmark scaling test <b>Image: Upstream CFD GmbH, 2023</b></figcaption> -->
	</figure>
	<p>We are pleased to share our publication 
		<strong>"Towards a Platform-Portable Linear Algebra Backend for OpenFOAM"</strong>, which
		has been published in the journal <em>Meccanica</em>. The work is authored by 
		Gregor Olenik, Marcel Koch, Ziad Boutanios, and Hartwig Anzt.</p>
	
	<p>This paper presents the development of the OpenFOAM Ginkgo Layer (OGL), 
		a plugin designed to leverage the Ginkgo library for GPU-accelerated linear 
		algebra computations in OpenFOAM. The study emphasizes platform portability 
		and evaluates performance across different hardware systems, including Intel, 
		AMD, and NVIDIA GPUs.</p>
	
	<p>Notable contributions include methods to reduce computational overhead and 
		improve efficiency through device-persistent data structures and optimized 
		stopping criteria. The results highlight the potential for enhanced 
		computational efficiency in large-scale CFD simulations.</p>
	
	<p>To read the full paper, visit 
		<a href="https://doi.org/10.1007/s11012-024-01806-1" target="_blank" rel="noopener">
		Springer Link
		</a>. 
		For more details on the implementation, the project's repository can be found 
		at 
		<a href="https://github.com/hpsim/OGL" target="_blank" rel="noopener">
		GitHub
		</a>.
	</p>
	
	<p>We extend our congratulations to the authors for their contributions!</p>
	</div>

	<div class="mySlides fade">
	<figure>
		<img loading="lazy" src="/img/mexico_rotor_website.png" alt="Mexico rotor ALM simulation" style="width:100%">
		<figcaption>Velocity coloured iso-surface of Q-criterion for the MEXICO rotor micro benchmark <b>Image: Upstream CFD GmbH, 2024</b></figcaption>
	</figure>
	<p>An assortment of OpenFOAM cases designed for HPC testing is incorporated in the EXASIM benchmark suite.
	They are setup to be used with our dedicated framework for large parametric OpenFOAM studies based on  <a href="<https://docs.signac.io/en/latest>">signac</a>. 
	You can find the code for the OpenFOAM Benchmark Runner (<a href="<https://github.com/hpsim/OBR>">OBR</a>) on Github.</p>
	</div>

	<div class="mySlides fade">
	<figure>
		<img loading="lazy" src="/img/Impinging_jet_website.png" alt="Impinging jet simulation" style="width:100%">
		<figcaption>Visualisation of a passive scalar for the Impinging jet micro benchmark case <b>Image: Davide Gatti, ISTM, 2024</b></figcaption>
	</figure>
	</div>

	<div class="mySlides fade">
	<figure>
		<img loading="lazy" src="/img/windsor_body_scaling_x10.png" alt="windsor body scaling test" style="width:100%">
		<figcaption>Windsor body micro benchmark scaling test <b>Image: Upstream CFD GmbH, 2023</b></figcaption>
	</figure>
	<p>The Windsor body micro-benchmark is designed to enable weak scaling analysis, so we can identify bottlenecks in the code and push towards exascale computing. 
	Identifying optimisation potential based on industrially relevant cases will help us develop innovative technology for efficient simulations in real world design processes. 
	The EXASIM team is looking forward to seeing how our hard work will have a positive impact for industry.</p>
	</div>

	</div>

	<!-- Next and previous buttons -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
</div>
</section>

{# Status Section #}
<section class="section">
<h1 class="section-header">Status</h1>
<div class="section-content">
	{% set postsCount = collections.posts | length %}
	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
</div>
</section>

{# Partners Section #}
<section class="section">
<h1 class="section-header ">Partners & <br> Stakeholders</h1>
<div class="section-content section-content--2-column">

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/upstream_cfd_logo.webp" alt="upstream cfd gmbh - Logo">
		<p>Our partner Upstream CFD prepares benchmark cases, runs application cases and analyses code performance.</p>
		<a href="https://www.upstream-cfd.com/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/kit_logo.webp" alt="Karlsruher Institut für Technologie - Logo">
		<p>At KIT the interface between OpenFOAM and Ginkgo is being developed, together with efficient boundary conditions.</p>
		<a href="https://www.kit.edu/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/enercon_logo.webp" alt="ENERCON - Logo">
		<p>Providing multiple wind-energy application cases, in atmospheric conditions and complex terrain.</p>
		<a href="https://www.enercon.de/home/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/aws_logo.webp" alt="aws - Logo">
		<p>Providing access to a multitude of hardware configurations to test code development.</p>
		<a href="https://aws.amazon.com/" class="arrow-link">visit website</a>
	</div>

</div>
</section>
