---
layout: layouts/base.njk
---

<header class="front-page-title">
	<h1>A project to build exascale-capable <br> algorithms for OpenFOAM.</h1>
</header>

{# Goals Section #}
<section class="section">
<h1 class="section-header">Goals</h1>
<div class="section-content ">
	<p>The goal of the project is to create a robust and flexible interface that allows to use the open-source software library Ginkgo for numerical operations in OpenFOAM and enable these simulations to be exascale-capable.</p>
	<a href="goals" class="arrow-link">learn more</a>
</div>
</section>

{# Accomplishments Section #}
<section class="section">
<h1 class="section-header">Accomplishments</h1>
<div class="section-content">
	<figure>
		<img width="900" height="506" loading="lazy" src="/img/windsor_body_scaling_x10.png" alt="windsor body scaling test">
		<figcaption>Windsor body micro benchmark scaling test <b>Image: Upstream CFD GmbH, 2023</b></figcaption>
	</figure>
	<p>The windsor body micro benchmark is designed to enable weak scaling analysis, through which we can identify remaining bottlenecks in our code and push towards exascale computing. Identifying optimization potential based on industry relevant cases will help us develop innovative technology for efficient simulations in real world design processes. Our team is working tirelessly to create cutting-edge software and we look forward to seeing the positive impact it will have on the industry</p>
</div>
</section>

{# Status Section #}
<section class="section">
<h1 class="section-header">Status</h1>
<div class="section-content">

	<div class="status-msg">
		Project kick-off meeting at KIT
		<div class="date">06. December 2022</div>
	</div>

</div>
</section>

{# Partners Section #}
<section class="section">
<h1 class="section-header ">Partners & <br> Stakeholders</h1>
<div class="section-content section-content--2-column">

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/upstream_cfd_logo.webp" alt="upstream cfd gmbh - Logo">
		<p>Our partner upstream CFD prepares benchmark cases, runs application cases and analyses code performance.</p>
		<a href="https://www.upstream-cfd.com/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/kit_logo.webp" alt="Karlsruher Institut für Technologie - Logo">
		<p>At KIT the interface between OpenFOAM and Ginkgo and efficient boundary conditions are implemented</p>
		<a href="https://www.kit.edu/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/enercon_logo.webp" alt="ENERCON - Logo">
		<p>Providing multiple application cases, in atmospheric conditions and complex terrain.</p>
		<a href="https://www.enercon.de/home/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/aws_logo.webp" alt="aws - Logo">
		<p>Providing access to a multitude of hardware configurations to test code development.</p>
		<a href="https://aws.amazon.com/" class="arrow-link">visit website</a>
	</div>

</div>
</section>
