---
layout: layouts/base.njk
---

<header class="front-page-title">
	<h1>A project to build exascale-capable <br> algorithms for OpenFOAM.</h1>
</header>

{# Goals Section #}
<section class="section">
<h1 class="section-header">Goals</h1>
<div class="section-content ">
	<p>The goal of the project is to create a robust and flexible interface that allows to use the open-source software library Ginkgo for numerical operations in OpenFOAM and enable these simulations to be exascale-capable.</p>
	<a href="#0" class="arrow-link">learn more</a>
</div>
</section>

{# Accomplishments Section #}
<section class="section">
<h1 class="section-header">Accomplishments</h1>
<div class="section-content">
	<figure>
		<img width="900" height="506" loading="lazy" src="/img/fluids.webp" alt="fluids in motion">
		<figcaption>Fluids in motion - simulated faster than light. <b>Photo: exasim 2023</b></figcaption>
	</figure>
	<p>This innovative solution will revolutionize the industry, enabling more accurate and efficient simulations, reducing the time and cost of the design process and ultimately leading to better and more optimized results. Our team has worked tirelessly to create this cutting-edge technology, and we couldn't be more thrilled with the results. We look forward to seeing the positive impact it will have on the industry. Get ready for the future of flow simulation!</p>
</div>
</section>

{# Status Section #}
<section class="section">
<h1 class="section-header">Status</h1>
<div class="section-content">

	<div class="status-msg">
		TEST 1
		<div class="date">15. December 2022</div>
	</div>

	<div class="status-msg">
		TEST 1
		<div class="date">15. December 2022</div>
	</div>

	<div class="status-msg">
		TEST 1
		<div class="date">15. December 2022</div>
	</div>

	<div class="status-msg">
		TEST 1
		<div class="date">15. December 2022</div>
	</div>

	<div class="status-msg">
		TEST 1
		<div class="date">15. December 2022</div>
	</div>

</div>
</section>

{# Partners Section #}
<section class="section">
<h1 class="section-header ">Partners & <br> Stakeholders</h1>
<div class="section-content section-content--2-column">

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/upstream_cfd_logo.webp" alt="upstream cfd gmbh - Logo">
		<p>Our partner upstream CFD prepares benchmark cases, runs application cases and analyses code performance.</p>
		<a href="https://www.upstream-cfd.com/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/kit_logo.webp" alt="Karlsruher Institut für Technologie - Logo">
		<p>The goal of the project is to create a robust and flexible interface</p>
		<a href="https://www.kit.edu/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/enercon_logo.webp" alt="ENERCON - Logo">
		<p>Providing multiple application cases, in atmospheric conditions and complex terrain.</p>
		<a href="https://www.enercon.de/home/" class="arrow-link">visit website</a>
	</div>

	<div class="section-card">
		<img width="442" height="238" loading="lazy" src="/img/aws_logo.webp" alt="aws - Logo">
		<p>Providing access to a multitude of hardware configurations to test code development.</p>
		<a href="https://aws.amazon.com/" class="arrow-link">visit website</a>
	</div>

</div>
</section>